body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #DCD8D3;
    margin: 0;
    padding-top: 110px;
    user-select: none;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Gals";
}

@font-face {
    font-family: "Gals";
    src: url("gals.eot");
    src: url("gals.eot?#iefix") format("embedded-opentype"),
        url("gals.otf") format("opentype"),
        url("gals.svg") format("svg"),
        url("gals.ttf") format("truetype"),
        url("gals.woff") format("woff"),
        url("gals.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Ricordi Marmo Trial Light";
    src: url("TT_Ricordi_Marmo_Trial_Light.eot?") format("eot"),
    url("TT_Ricordi_Marmo_Trial_Light.woff") format("woff"),
    url("TT_Ricordi_Marmo_Trial_Light.ttf") format("truetype"),
    url("TT_Ricordi_Marmo_Trial_Light.svg#TTRicordiMarmoTrial-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}



header {
    display: flex;
    justify-content: center;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0px;
}


.logo {
    width: 80px;
}

.slider {
    width: 100%;
    max-width: auto;
    position: relative;
    overflow: hidden;
    margin: 0px 120px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
}

.slide img {
    width: 100%;
    max-width: 700px;
    max-height: 500px;
}

.TX {
    font-size: 64px;
    font-weight: 600px;
    font-family: "TT Ricordi Marmo Trial Light";
}


.description {
    margin: 40px 15%;
    font-size: 24px;
    font-family: "Gals";
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 24px;
    
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.button2 {
    display: inline-block;
    background-color: black;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Gals';
}

.button2:hover {
    background-color: rgb(90, 90, 90);
}